<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='menu.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='selectable.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='toast.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='overlay.css') }}">

<script src="../static/js/jquery-1.12.1.js"></script>
<script src="../static/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
<script src="../static/js/jquery.lazyload.js"></script>
<script src="../static/js/context_menu.js"></script>
<script src="../static/js/overlay.js"></script>

<script>
$(document).ready(function() {
  $('#status-select').change(function() {
    var status_select = $(this);
    var state = status_select.val();
    if (state == 'Unannotated') {
      $('#source-select').prop('disabled', true);
      $('#species-select').prop('disabled', true);
    }
    else if (state == 'Annotated') {
      $('#source-select').prop('disabled', false);
      $('#species-select').prop('disabled', false);
    }
    //console.log(state);
  });
});
$(document).ready(function() {
  $('#begin').click(function() {
    var limit = $('#limit-input').val();
    var select_status = $('#status-select').val();
    var select_source = $('#source-select').val();
    var select_species = $('#species-select').val();

    $.ajax({
      url: '/label',
      data: jQuery.param({
        'limit': limit,
        'status': select_status,
        'source': select_source,
        'species': select_species,
      }),
      type: 'POST',
      success: function(response) {
        //console.log('success: ' + response);
        var images = JSON.parse(response);
        var selectable = $('#selectable');
        selectable.empty();  // clear before we re-populate the view
        for (var i = 0; i < images.length; i++) {
          var figure = jQuery('<figure/>', {
            'class': 'selectable-figure',
          }).appendTo(selectable);
          var img = jQuery('<img/>', {
            'id': images[i].image_id,
            'class': 'lazy',
            'data-original': images[i].image_filepath,
            'width': images[i].width,
            'height': images[i].height,
            }).appendTo(figure);
          var figcaption = jQuery('<figcaption/>', {
            'html': images[i].species_name,
          }).appendTo(figure);
          img.lazyload();
        }
        //$('img.lazy').lazyload();
      },
      error: function(error) {
        console.log('error ' + error);
      }
    });
  });
});
//$(document).ready(function () {
// var selectable = document.getElementById('selectable');
// var images = {{ images|safe }};
// for (i = 0; i < images.length; i++) {
//   var image = JSON.parse(images[i]);
//   var elem = document.createElement('img');
//   //elem.setAttribute("id", "img");
//   elem.setAttribute("class", "lazy");
//   elem.setAttribute("data-original", image['src']);
//   elem.setAttribute("width", image['width']);
//   elem.setAttribute("height", image['height']);
//   selectable.appendChild(elem);
// }
//});
$(document).ready(function() {
    $('img.lazy').lazyload();
});
$(document).ready(function() {
    // set refresh to true if image selection breaks...
    // eventually we need a better way to handle the selection for 100,000+ images
  // setting autoRefresh to true allows the images to be added dynamically
    $('#selectable').selectable({autoRefresh: true, filter: 'figure.selectable-figure'});
});
</script>
</head>

{% extends "layout.html" %}
{% block body %}
<section id="filter">
  <div id="status">
    Status:
    <p>
      <select id="status-select">
        <option>Unannotated</option>
        <option>Annotated</option>
      </select>
    </p>
  </div>
  <div id="source">
    Source:
    <p>
      <select id="source-select" disabled="true">
        <option>Algorithm</option>
        <option>Human</option>
      </select>
    </p>
  </div>
  <div id="species">
    Species to include:
    <p>
      <select id="species-select" disabled="true">
        <option>All</option>
        {% for sp in species %}
          <option>{{ sp.species_name }}</option>
        {% endfor %}
      </select>
    </p>
  </div>
  <div id="limit">
    Limit to:
    <p>
      <input id="limit-input" class="input" type="number" value="100"></input>
    </p>
  </div>
  <div id="begin">
    <button>Begin labeling!</button>
  </div>
</section>

<div id="overlay"></div>
<div id="overlayContent">
  <img id="overlayImage" src="" alt=""/>
  <div id="overlay_image_filepath" class="overlay_info"></div>
  <div id="overlay_image_date_collected" class="overlay_info"></div>
  <div id="overlay_image_species" class="overlay_info"></div>
  <div id="overlay_image_added" class="overlay_info"></div>
  <div id="overlay_image_annotated" class="overlay_info"></div>
  <div id="overlay_image_dimensions" class="overlay_info"></div>
</div>
<div class='toast' style='display:none'></div>

<ul class='custom-menu'>
  {% for sp in species %}
  <li id="{{ sp.species_id }}" data-action="{{ sp.species_name }}">{{ sp.species_name }}</li>
  {% endfor %}
</ul> 

<ul id="selectable">
  <!--
  {% for image in images %}
  <figure class="selectable-figure">
    <img id="{{ image.image_id }}" class="lazy" data-original="{{ image.src }}" width="{{ image.width }}" height="{{ image.height }}" />
    <figcaption>{{ image.species }}</figcaption>
  </figure>
  {% endfor %}
  -->
</ul>

{% endblock %}
</html>
