<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='menu.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='selectable.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='toast.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='overlay.css') }}">

<script src="../static/js/jquery-1.12.1.js"></script>
<script src="../static/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
<script src="../static/js/jquery.lazyload.js"></script>
<script src="../static/js/context_menu.js"></script>
<script src="../static/js/overlay.js"></script>

<script>
$(document).ready(function() {
  var genus_list;
  $('#family-select').change(function() {
    var family_select = $(this);
    var family_state = family_select.val();
    var genus_select = $('#genus-select');
    var species_select = $('#species-select');
    var source_select = $('#source-select');
    var order_select = $('#order-select');

    species_select.find('option:gt(1)').remove();
    genus_select.find('option:gt(1)').remove();
    // select all images annotated with at least a family id
    if (family_state == 'All') {
      genus_select.find('option[value=All]').prop('selected', true);
      genus_select.prop('disabled', false);
      species_select.find('option[value=All]').prop('selected', true);
      species_select.prop('disabled', false);

      source_select.prop('disabled', false);
      order_select.prop('disabled', true);
    }
    // select all images that have no family id
    else if (family_state == 'None') {
      genus_select.find('option[value=None]').prop('selected', true);
      genus_select.prop('disabled', true);
      species_select.find('option[value=None]').prop('selected', true);
      species_select.prop('disabled', true);

      source_select.prop('disabled', true);
      order_select.prop('disabled', false);
    }
    // select all images with a specific family id
    else {
      genus_select.prop('disabled', false);
      species_select.prop('disabled', true);
      source_select.prop('disabled', false);
      order_select.prop('disabled', true);

      // remove all but the "All" option
      var families = {{ families|safe }};
      // find the genus list of the selected family
      var family = families.filter(function (obj) {
        return obj.family_id == family_state;
      })[0];

      genus_list = family.genus_list;
      $.each(genus_list, function(i, genus) {
        genus_select.append($('<option>', {
          value: genus.genus_id,
          text: genus.genus_name,
        }));
      });
    }
  });
  $('#genus-select').change(function() {
    var genus_select = $(this);
    var genus_state = genus_select.val();
    var species_select = $('#species-select');
    species_select.find('option:gt(1)').remove();
    if (genus_state == 'All') {
      species_select.prop('disabled', false);
      species_select.find('option[value=All]').prop('selected', true);
    }
    else if (genus_state == 'None') {
      species_select.prop('disabled', true);
      species_select.find('option[value=None]').prop('selected', true);
    }
    else {
      species_select.prop('disabled', false);
      var genus = genus_list.filter(function (obj) {
        return obj.genus_id == genus_state;
      })[0];

      var species_list = genus.species_list;
      $.each(species_list, function(i, species) {
        species_select.append($('<option>', {
          value: species.species_id,
          text: species.species_name,
        }));
      });
    }
  });
});
$(document).ready(function() {
  $('#begin').click(function() {
    var limit = $('#limit-input').val();
    var select_source = $('#source-select').val();
    var select_family = $('#family-select').val();
    var select_genus = $('#genus-select').val();
    var select_species = $('#species-select').val();
    var select_order = $('#order-select').val();

    console.log(select_source + ' ' + select_family + ' ' + select_genus + ' ' + select_species + ' ' + select_order);

    $.ajax({
      url: '/label',
      data: jQuery.param({
        'limit': limit,
        'source': select_source,
        'family': select_family,
        'genus': select_genus,
        'species': select_species,
        'order': select_order,
      }),
      type: 'POST',
      success: function(response) {
        //console.log('success: ' + response);
        var images = JSON.parse(response);
        var selectable = $('#selectable');
        selectable.empty();  // clear before we re-populate the view
        for (var i = 0; i < images.length; i++) {
          var figure = jQuery('<figure/>', {
            'class': 'selectable-figure',
          }).appendTo(selectable);
          var img = jQuery('<img/>', {
            'id': images[i].image_id,
            'class': 'lazy',
            'data-original': images[i].image_filepath,
            'width': images[i].width,
            'height': images[i].height,
            }).appendTo(figure);

          // display the most specific known classification for this image
          var caption;
          if (images[i].species_name != null) {
            caption = images[i].species_name;
          }
          else if (images[i].genus_name != null) {
            caption = images[i].genus_name;
          }
          else if (images[i].family_name != null) {
            caption = images[i].family_name;
          }
          else {
            caption = "unknown";
          }

          var figcaption = jQuery('<figcaption/>', {
            'html': caption,
          }).appendTo(figure);
          img.lazyload();
        }
        //$('img.lazy').lazyload();
      },
      error: function(error) {
        console.log('error ' + error);
      }
    });
  });
});
$(document).ready(function() {
    $('img.lazy').lazyload();
});
$(document).ready(function() {
    // set refresh to true if image selection breaks...
    // eventually we need a better way to handle the selection for 100,000+ images
  // setting autoRefresh to true allows the images to be added dynamically
    $('#selectable').selectable({autoRefresh: true, filter: 'figure.selectable-figure'});
});
</script>
</head>

{% extends "layout.html" %}
{% block body %}

<section id="filter">
  <div id="family">
    Family:
    <p>
      <select id="family-select">
        <option value='None'>None</option>
        <option value='All'>All</option>
        {% for family in families %}
          <option value={{ family.family_id }}>{{ family.family_name }}</option>
        {% endfor %}
      </select>
    </p>
  </div>
  <div id="genus">
    Genus:
    <p>
      <select id="genus-select" disabled="true">
        <option value='None'>None</option>
        <option value='All'>All</option>
      </select>
    </p>
  </div>
  <div id="species">
    Species:
    <p>
      <select id="species-select" disabled="true">
        <option value='None'>None</option>
        <option value='All'>All</option>
      </select>
    </p>
  </div>
  <div id="source">
    Source:
    <p>
      <select id="source-select" disabled="true">
        <option value='Humans & Algorithms'>Humans & Algorithms</option>
        <option value='Algorithms'>Algorithms only</option>
        <option value'Humans only'>Humans only</option>
        {% for user in users %}
          <option value={{ user.user_id }}>{{ user.user_username }}</option>
        {% endfor %}
      </select>
    </p>
  </div>
  <div id="order">
    Order by:
    <p>
      <select id="order-select">
        <option value='Image Similarity'>Image Similarity</option>
        <option value='Date Added'>Date Added</option>
        <option value='Date Collected'>Date Collected</option>
      </select>
    </p>
  </div>
  <div id="limit">
    Limit to:
    <p>
      <input id="limit-input" class="input" type="number" value="100"></input>
    </p>
  </div>
  <div id="begin">
    <button>Begin labeling!</button>
  </div>
</section>

<div id="overlay"></div>
<div id="overlayContent">
  <img id="overlayImage" src="" alt=""/>
  <div id="overlay_image_filepath" class="overlay_info"></div>
  <div id="overlay_image_date_collected" class="overlay_info"></div>
  <div id="overlay_image_family" class="overlay_info"></div>
  <div id="overlay_image_genus" class="overlay_info"></div>
  <div id="overlay_image_species" class="overlay_info"></div>
  <div id="overlay_image_added" class="overlay_info"></div>
  <div id="overlay_image_dimensions" class="overlay_info"></div>
</div>
<div class='toast' style='display:none'></div>

<ul id="family-menu" class="drop">
  <span>Family</span>
  {% for family in families %}
      <li id="{{ family.family_id }}" data-action="{{ family.family_name }}">{{ family.family_name }}
        <ul id="genus-menu" class="drop">
        <span>Genus</span>
        {% for genus in family.genus_list %}
          <li id="{{ genus.genus_id }}" data-action="{{ genus.genus_name }}">{{ genus.genus_name }}
              <ul id="species-menu" class="drop">
                <span>Species</span>
                {% for sp in genus.species_list %}
                <li id="{{ sp.species_id }}" data-action="{{ sp.species_name }}">{{ sp.species_name }}
                </li>
                {% endfor %}
              </ul>
          </li>
        {% endfor %}
        </ul>
      </li>
  {% endfor %}
</ul> 

<!-- will by dynamically populated -->
<ul id="selectable"></ul>

{% endblock %}
</html>
