<!doctype html>
<title>Plankton Annotator</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1><a href="{{ url_for('home') }}"> Plankton Annotator</a></h1>
  <h2><a href="{{ url_for('label_images') }}"> Label Images</a><a href="{{ url_for('review_images') }}"> Review Images</a></h2>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
